@media screen and (min-width: 1200px){
header{
max-width: 1400px;
margin: 0 auto; 
}
.graphics-container{
    max-width: 1400px;
    margin: 0 auto; 
  }
      .wrapper-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
      }
.scroll-container{
    width: 660px;
}
.nvidia{
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 50px;
}




}